/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&display=swap');
html{
    font-size: 62.5%; /* 16px * 62.5% = 10.00rem */
}
body{
    font: 1.6rem 'Roboto Slab',sans-serif;
    background-color: #e8bd57;
    background-image: linear-gradient(0deg, #e6e857 0%, #e7fc89 50%, #ffffff 100%);

    margin: 0;
    letter-spacing: .1rem;
    line-height: 1.6;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
   

}

*{
    box-sizing: border-box;
}
h1,h2,h3,p,figure,ol,ul,blockquote,address{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
button, a{
    text-decoration: none;
    background-color: transparent;
    border: 0;
}
ion-icon{
    vertical-align: -.3rem;
}

/* theme */
header h1{
    text-align: center;
    font-weight: 300;
    line-height: 6.5rem;
}
section {
    max-width: 80rem;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: solid .1rem transparent;
 
}
section h2{
    padding: 1rem;
    background: #fafafa;
}
section img{
    display: inline-block;
    width : 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
section ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    background-color: #fafafa;
}
section ul li:nth-child(2){
    background-color:  #fafafa;
    text-align: justify;
}
section ul li:not(:nth-child(2)){
    line-height:3.5rem;
    
}
footer *{
    text-align: center;
    line-height: 3.5rem;
}